*
{
	margin:0;
	padding:0;
}
/* body
{
	background-color:white;
} */
#all
{
	overflow:hidden;
}
#city
{
	width:10000%;
	height:400px;
	background:url("wp6738561.png") round;
	background-size:1.5% 123%;
	animation-name:cityrepeat;
	animation-duration:20s;
	animation-delay:1s;
	animation-iteration-count:infinite;
	animation-direction:normal;
	animation-timing-function:linear;
}
#swift
{
	z-index:4;
	
}
#road
{
	background:url("road.jpg") round;
	background-size:1.5% 100%;
	width:10000%;
	height:230px;
	position:absolute;
	z-index:-1;
	animation-name:roadrepeat;
	animation-duration:5s;
	animation-delay:1s;
	animation-iteration-count:infinite;
	animation-direction:normal;
	animation-timing-function:linear;
}

#car
{
	width:450px;
	height:220px;
	background:url("Cars/car1.png");
	background-size:100% 100%;
	margin-left:30%;
	position:absolute;
}
#tyre1
{
	width:80px;
	height:80px;
	background:url("tyre.png");
	background-size:100% 100%;
	margin-left:32.9%;
	animation-name:tyrerotate;
	animation-delay:1s;
	animation-duration:0.2s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	position:absolute;
	margin-top:120px;
}
#tyre2
{
	width:80px;
	height:80px;
	background:url("tyre.png");
	background-size:100% 100%;
	margin-left:53.1%;
	animation-name:tyrerotate;
	animation-delay:1s;
	animation-duration:0.2s;
	animation-iteration-count:infinite;
	animation-direction:linear;
	position:absolute;
	margin-top:120px;
}
@keyframes cityrepeat
{
	from
	{
		margin-left:0;
		background-repeat:repeat;
		transform: translate3d(0, 0, 0);
	}
	to
	{
		margin-left:100%;
		background-repeat:repeat-x;
		transform: translate3d(-10000px, 0, 0);
	}
}
@keyframes roadrepeat
{
	from
	{
		margin-left:0;
		background-repeat:repeat;
		transform: translate3d(0, 0, 0);
	}
	to
	{
		margin-left:100%;
		background-repeat:repeat-x;
		transform: translate3d(-10000px, 0, 0);
	}
}
@keyframes tyrerotate
{
	from
	{
		transform:rotate(0deg);
	}
	to
	{
		transform:rotate(360deg);
	}
}